.intro {
  max-width: 780px;
  margin: 0 auto;
  padding: 20px;

  text-align: center;

  &__title {
    font-size: 2rem;
    line-height: 1.4em;

    @media (max-width: 800px) {
      & {
        font-size: 1.5rem;
      }
    }
  }
}