body,
html {
  margin: 0;
  padding: 0;
}

body {
  /* fix IE bug with flexbox and min-height */
  display: flex;

  background: #eee;
  color: #000;
  font-family: Arial, sans-serif;
}

html {
  font-size: 100%;
  line-height: 1.5em;

  @media (min-width: 1300px) {
    & {
      font-size: 110%;
    }
  }
}

.page {
  display: flex;
  flex-flow: column;

  width: 100%;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
}